body {
    background: #555;
    text-align: center;
    font: 18px Helvetica;
}

#settingsContainer {
    display: inline-block;
    margin: 20px;
    background: #ddd;
    padding: 50px 70px 50px 70px;
    
}

img.logo {
    width: 100px;
    height: auto;
}

select {
    font-size: 18px;
}

label {
    display: inline-block;
    margin-top: 20px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

#keysForFindDiv button:focus {
    background: orange;
}

#keysForFindDiv span {
    display: inline-block;
    background: "#ccc";
    min-width: 50px;
    font-size: 14px;
    margin-left: 2px;
    margin-right: 7px;
    text-align: left;
}

#keySetText {
    font-size: 14px;
}


#saveDiv {
    margin-top: 30px;
}

#saveButton {
    display: inline-block;
    font-size: 24px;
}

#saveStatus {
    margin-top: 5px;
    color: green;
}
