
body {
    min-width: 250px;
    min-height: 250px;
}


#hideUsersInputDiv {
    background: #ddd;
    max-height: 250px;
    overflow: auto;
}

#hideUsersInputDiv div:nth-child(odd) {
    background: rgba(100, 100, 200, 0.4);
}

#hideUsersInputDiv div:nth-child(even) {
    background: rgba(250, 250, 250, 0.4);
}

#hideUsersInputDiv input[type="checkbox"] {
    max-height: 250px;
    overflow: auto;
}


#alwaysRemoveUsersLab {
    position: relative;
    display: block;
    margin-top: 7px;
}

#alwaysRemoveUsersContainer {
    overflow-y: auto;
    overflow-x: auto;
    max-height: 280px;
    max-width: 210px;
}

#alwaysRemoveUsersContainer p {
    margin: 0;
    font: 12px Helvetica;
}

#alwaysRemoveUsersContainer p:hover {
    border: 1px solid blue;
}

#alwaysRemoveUsersContainer p:nth-child(odd) {
    background: lightblue;
}

#alwaysRemoveUsersContainer p:nth-child(even) {
    background: lightcyan;
}


button {
    margin-top: 7px;
}

#clearAlwaysRemoveButton {
    font: 10px Helvetica;
}



#tabs {
    position: relative;
    background: #999;
    margin: 0;
    margin-bottom: 18px;
    width: 100%;
    -webkit-user-select: none;
    text-align: center;
}

#tabs span{
    text-align: center;
    display: inline-block;
    background: #999;
    border: 2px solid black;
    padding: 2px;
    font: 14px Helvetica;
    font-weight: 900;
    width: 27%;
    cursor: pointer;
    margin: 0;
}

#tabs span[active="true"]  {
    background: #99f;
}

#tabs span:hover[active="false"]  {
    background: rgba(120, 120, 255, 0.4);
}








#hlListLabel  {
    position: relative;
    display: inline-block;
    margin-top: 14px;
}

#hlList {
    max-height: 280px;
    max-width: 210px;
    overflow: auto;
}



.hlListElem input {
    display: inline-block;
    margin-left: 4px;
    max-width: 20px;
}

.hlListElem:nth-child(odd) {
    background: lightblue;
}

.hlListElem:nth-child(even) {
    background: lightcyan;
}

.hlListElem button {
    color: red;
    font-size: 10px;
    margin-left: 5px;
    line-height: 16px;
}

.hlListElem label {
    font-size: 12px;
    font-weight: bold;
}

#clearAllHlsButton {
    margin-top: 7px;
    font-size: 10px;
}



.findUserButtonsDiv {
    text-align: center;
}

.findUserButtonsDiv button{
    font: 15px Helvetica;
    font-weight: 400;
}

#findUserPrevButton {
    
}

#findUserNextButton {
    
}